.parent {
  margin: 7rem 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.info {
  float: left;
}

.biding-panel {
  width: 100%;
  margin-bottom: 15px;
  background-color: blue;
}

.messages {
  border-radius: 5px;
  margin-top: 40px;
  background-color: blueviolet;
}

.Chat_section {
}

.Product_Img {
  width: 330px;
  height: 100%;
  border-top: groove 2px black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.label_info {
  font-size: bolde;
}

.message_in_room {
  float: left;
  width: 88%;
  height: 24px;
}

.Send_btn {
  width: 10%;
  float: right;
  font-size: 25px;
  margin-top: 2px;
}
form_section {
  width: 100%;
}
