.mainWrappercat {
  margin: 4rem 2rem;
}
.main-data-Container {
  margin: 2rem 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: auto;
}

.SingleCategory {
  padding: 10%;
  text-align: center;
}
.CategoryName {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Categoryimg {
  width: 20vw;
  height: 188px;
}
