@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.mainWraperGeneral {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  margin: 4rem 0rem;
  gap: 20px 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

.SingleGeneralProduct {
  text-decoration: none;
  margin-bottom: 10%;
  border-width: 2px;
  border-bottom-style: solid;
}

.GeneralProductimg {
  width: 260px;
  height: 250px;
  border-radius: 4px;
}

p {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
}

.star_btn {
  float: right;
  font-size: 25px;
  margin-top: -10px;
  margin-right: 20px;
  cursor: pointer;
}
.star_btn:hover {
  color: rgb(168, 168, 31);
}
