.MyProducts-wrapper {
  max-width: 100vw;
  display: grid;
  margin: 4rem 0rem;
  gap: 20px 15px;
  grid-template-columns: 40% 40%;
  align-items: center;
  justify-content: center;
}

.SingleOwnProduct {
  background-color: thistle;
}

.OwnProductImage {
  width: 50%;
  height: 30%;
}

.Product-modification-div {
}

.parent-Modification {
  width: 100vw;
  height: 100vh;
}
