.parentWrapper {
  text-align: center;
  background-image: url("../lotties/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.SecondWrapper {
  background-color: powderblue;
  justify-content: center;
  align-items: center;
  width: 27em;
  height: 40em;
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 99;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;

  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  position: relative;
  z-index: 99;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}
.form {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  align-items: center;
  justify-content: center;

  background-color: darkblue;
}
.lab {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: purple;
}
label {
  width: 100%;
  margin-bottom: 12%;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  background-color: #3498db;
  width: 100%;
  top: 0%;
  position: absolute;
  right: -34%;
  border-radius: 6px;
  z-index: 1;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}

.right {
  right: -40%;
  align-items: flex-end;
}

.right:hover {
  right: 45%;
  transition: all 400ms ease-in-out;
}

.text {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin-right: 3em;
  margin-left: 3em;
}

.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #2386c8;
}
.btn:focus {
  outline: none;
}
