@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
.main-navigation {
  left: 0;
  top: 0;
  max-width: 100vw;
  height: 3.5rem;
  background: transparent;
  padding: 0 1rem;
  border-color: tomato;
  border-width: 2px;
  border-style: outset;
  border-radius: 266px;
  align-items: center;
}

.main-navigation_logo {
}

.main-navigation_item {
  float: right;
  font-size: 1.3rem;
  margin: 0.8rem 1rem;
}

.main-navigation_item ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-navigation_item li {
  margin: 0 1rem;
}
.main-navigation_item a,
.main-navigation_item button {
  text-decoration: none;
  color: rgb(15, 15, 14);
}

.main-navigation_item a:hover,
.main-navigation_item a:active,
.main-navigation_item a.active,
.main-navigation_item button:hover {
  color: orange;
  border-color: orange;
  border-style: ridge;
  border-width: 0.6px;
  border-radius: 3px;
}

h1 {
  font-family: "ZenDots";
}

img {
  width: 145px;
  height: 60px;
}

.uio {
  margin-top: 2px;
}
